.config-item {
  margin: 8px;
  padding: 8px 16px;
  border-radius: 8px;
}

.config-item-container {
  background: rgba(238, 113, 4, 0.1);
}

.config-item-server {
  background: rgba(0, 0, 255, 0.1);
}

.config-item-client {
  background: rgba(0, 255, 0, 0.1);
}
