@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background: #f7f8fa;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
