<div class="nav-header">
  <mat-icon (click)="onToggle()">{{ isExpanded() ? 'menu_open' : 'read_more' }}</mat-icon>
  <span class="nav-title" *ngIf="isExpanded()">Menü</span>
</div>

<nav class="nav-content" [class.collapsed]="!isExpanded()">
  <ul class="menu">
    <ng-container *ngTemplateOutlet="tree; context: { $implicit: menu() }"></ng-container>
  </ul>

  <ng-template #tree let-nodes>
    <ng-container *ngFor="let node of nodes">
      <li *ngIf="isHeading(node); else itemT" class="menu-heading">{{ node.heading }}</li>
      <ng-template #itemT>
        <li class="menu-item" [class.active]="isActive(node)" [class.ancestor-active]="isAncestorActive(node)">
          <div class="menu-row" [class.clickable]="node.children?.length" (click)="onParentClick(node)" [routerLink]="!node.children?.length && node.route ? node.route : null">
            <mat-icon class="menu-icon">{{ node.icon }}</mat-icon>
            <span class="menu-label">{{ node.label }}</span>
            <span class="spacer"></span>
            <span class="badge" *ngIf="node.badge" [class]="'badge ' + (node.badgeVariant || 'neutral')">{{ node.badge }}</span>
            <mat-icon *ngIf="node.children?.length && isExpanded()">{{ node.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
          </div>

          <ul class="submenu" *ngIf="node.children?.length && node.expanded && isExpanded()">
            <ng-container *ngTemplateOutlet="tree; context: { $implicit: node.children }"></ng-container>
          </ul>
        </li>
      </ng-template>
    </ng-container>
  </ng-template>
</nav>

<div class="nav-footer">
  <div class="nav-footer-version" *ngIf="isExpanded()">
    <span>Version: 14.01 </span>
    <span>AngularBase: 12.0.1</span>
  </div>
</div>


