<div class="nav-header">
  <mat-icon (click)="onToggle()">{{ isExpanded() ? 'menu_open' : 'read_more' }}</mat-icon>
  @if (isExpanded()) {
    <span class="nav-title">Menü</span>
  }
</div>

<nav class="nav-content" [class.collapsed]="!isExpanded()">
  <ul class="menu">
    <nav-tree-item 
      [nodes]="menu()" 
      [isExpanded]="isExpanded()" 
      [currentUrl]="currentUrl()"
      (toggleRequested)="toggleRequested.emit()">
    </nav-tree-item>
  </ul>
</nav>

<div class="nav-footer">
  @if (isExpanded()) {
    <div class="nav-footer-version">
      <span>Version: 14.01 </span>
      <span>AngularBase: 12.0.1</span>
    </div>
  }
</div>


